canvas {
    border: 1px solid black;
    border-radius: 5px;
}

text{
    /* font-size: 24px; */
    fill: #000;
}

.thumbnail {
    margin: 1px;
    border: 1px solid gray;
    border-radius: 5px;
}
.selected-thumbnail {
    border: 2px solid rgb(79, 79, 214);
}

#columns {
    display: flex;
}
#thumbnails {
    width: 10%;
    margin-right: 0.5%;
}
#slides-with-notes {
    flex: 1 /* take up all remaining space */
}
#notes-textarea {
    width: 100%;
    height: 200px;
    font-family: "Arial";
    font-size: 16px;
    resize: vertical;
    margin-top: 5px;
}
#slide-background {
    fill: #fff;
    stroke: #000
}